fsspec==2023.9.2
xarray==2023.9.0
certifi==2023.7.22
pytz==2023.3.post1
tzdata==2023.3
setuptools==65.5.0
pyzmq==25.1.1
pip==23.2.1
packaging==23.2
attrs==23.1.0
contextlib2==21.6.0
rich==13.6.0
websockets==11.0.3
pillow==10.0.1
ipython==8.16.1
natsort==8.4.0
jupyter-client==8.4.0
click==8.1.7
ipykernel==6.25.2
deepdiff==6.6.0
tornado==6.3.3
importlib-resources==6.1.0
multidict==6.0.4
pyyaml==6.0.1
traitlets==5.11.2
psutil==5.9.5
jupyter-core==5.4.0
decorator==5.1.1
tzlocal==5.1
tqdm==4.66.1
fonttools==4.43.1
protobuf==4.24.4
beautifulsoup4==4.12.2
typing-extensions==4.8.0
pexpect==4.8.0
gdown==4.7.1
progressbar2==4.2.0
ordered-set==4.1.0
readchar==4.0.5
async-timeout==4.0.3
cmake==3.27.6
zipp==3.17.0
filelock==3.12.4
platformdirs==3.11.0
h5py==3.10.0
aiohttp==3.8.6
python-utils==3.8.1
matplotlib==3.8.0
anyio==3.7.1
rpy2==3.5.14
idna==3.4
charset-normalizer==3.3.0
opt-einsum==3.3.0
threadpoolctl==3.2.0
inquirer==3.1.3
jinja2==3.1.2
pyparsing==3.1.1
networkx==3.1
prompt-toolkit==3.0.39
loompy==3.0.7
cython==3.0.3
markdown-it-py==3.0.0
requests==2.31.0
pycparser==2.21
pygments==2.16.1
types-python-dateutil==2.8.19.14
python-dateutil==2.8.2
pyjwt==2.8.0
soupsieve==2.5
asttokens==2.4.0
pydantic-core==2.4.0
backoff==2.2.1
markupsafe==2.1.3
itsdangerous==2.1.2
pydantic==2.1.1
pandas==2.1.1
torch==2.1.0
pytorch-lightning==2.0.9.post0
lightning==2.0.9.post0
urllib3==2.0.6
cellrank==2.0.0
absl-py==2.0.0
executing==2.0.0
numpy==1.25.2
blessed==1.20.0
six==1.16.0
cffi==1.16.0
wrapt==1.15.0
sympy==1.12
scipy==1.11.3
scanpy==1.9.5
yarl==1.9.2
pyro-ppl==1.8.6
debugpy==1.8.0
pysocks==1.7.1
texttable==1.7.0
websocket-client==1.6.4
nest-asyncio==1.5.8
etils==1.5.1
kiwisolver==1.4.5
mellon==1.4.1
croniter==1.4.1
array-api-compat==1.4
frozenlist==1.4.0
joblib==1.3.2
aiosignal==1.3.1
palantir==1.3.1
scikit-learn==1.3.1
arrow==1.3.0
mpmath==1.3.0
starsessions==1.3.0
sniffio==1.3.0
torchmetrics==1.2.0
contourpy==1.1.1
msgpack==1.0.7
python-editor==1.0.4
pygpcca==1.0.4
schpl==1.0.3
scvi-tools==1.0.3
newick==1.0.0
multipledispatch==1.0.0
session-info==1.0.0
fastapi==0.103.2
numba==0.58.0
llvmlite==0.41.0
starlette==0.27.0
uvicorn==0.23.2
jedi==0.19.1
statsmodels==0.14.0
h11==0.14.0
sparse==0.14.0
numpyro==0.13.2
seaborn==0.13.0
cycler==0.12.1
toolz==0.12.0
igraph==0.10.8
anndata==0.10.2
numpy-groupies==0.10.2
leidenalg==0.10.1
pygam==0.9.0
lightning-utilities==0.9.0
stdlib-list==0.9.0
parso==0.8.3
jaxopt==0.8.1
pickleshare==0.7.5
flax==0.7.4
ptyprocess==0.7.0
dateutils==0.6.12
stack-data==0.6.3
annotated-types==0.6.0
lightning-cloud==0.5.39
pynndescent==0.5.10
scarches==0.5.9
umap-learn==0.5.4
patsy==0.5.3
jax==0.4.18
jaxlib==0.4.18
orbax-checkpoint==0.4.1
docrep==0.3.2
ml-dtypes==0.3.1
wcwidth==0.2.8
fcsparser==0.2.7
scvelo==0.2.5
mudata==0.2.3
pure-eval==0.2.2
backcall==0.2.0
tensorstore==0.1.45
dm-tree==0.1.8
chex==0.1.7
optax==0.1.7
matplotlib-inline==0.1.6
muon==0.1.5
comm==0.1.4
appnope==0.1.3
mdurl==0.1.2
pyro-api==0.1.2
ml-collections==0.1.1
python-multipart==0.0.6